In [5]:
#Importation de panda

import pandas as pd

In [6]:
#Chargement des fichier contenant les tables

dfTitle = pd.read_csv("../data/title.basics.tsv", sep='\t', usecols=["tconst", "primaryTitle", "originalTitle"], encoding='utf-8')
dfName = pd.read_csv("../data/name.basics.tsv", sep='\t', usecols=["nconst", "primaryName"], encoding='utf-8')
dfPrincipals = pd.read_csv("../data/title.principals.tsv", sep='\t', usecols=["tconst", "nconst", "category"], encoding='utf-8')
dfRating = pd.read_csv("../data/title.ratings.tsv", sep='\t', usecols=["tconst", "averageRating"], encoding='utf-8')

In [9]:
#Chargement de la liste des acteurs

"""actorList = []
finalActorList = []

for i in range (1000):
    for j in range (1000):
        #print(dfName['nconst'].values[i])
        #print(dfPrincipals['nconst'].values[j])
        if (dfName['nconst'].values[i] == dfPrincipals['nconst'].values[j] and (dfPrincipals['category'].values[j] == 'actor' or dfPrincipals['category'].values[j] == 'actress')):
            actorList.append([dfName['primaryName'].values[i], dfName['nconst'].values[0]])

#Ecriture dans la table prévue pour afficher les résultats
actorsMoviesDF = pd.DataFrame(actorList, columns=['Movie', 'Actor'])

actorsMoviesDF.head(10)"""

actorMovieList = []

for i in range (len(dfName)):
    if (dfPrincipals['category'].values[i] == 'actor' or dfPrincipals['category'].values[i] == 'actress'):
        actorMovieList.append([dfPrincipals['nconst'].values[i], dfName['primaryName'].values[i], dfPrincipals['tconst'].values[i]])

"""for i in range (100):
    if (dfName['primaryName'].values[i] == 'Bardot'):
        actorList.append([dfName['primaryName'].values[i], dfName['nconst'].values[0]])"""
        #print(dfName['nconst'].values[0])

#Ecriture dans la table prévue pour afficher les résultats
actorsMovieDF = pd.DataFrame(actorMovieList, columns=['codeActor', 'nameActor', 'codeMovie'])

actorsMovieDF.head(len(actorsMovieDF))

         codeActor         nameActor   codeMovie
0        nm0443482       Bette Davis   tt0000005
1        nm0653042         Doris Day   tt0000005
2        nm0179163  Marlene Dietrich   tt0000007
3        nm0183947      Kirk Douglas   tt0000007
4        nm0653028       Clark Gable   tt0000008
...            ...               ...         ...
4316759  nm0066075  Michal Jackowski  tt10737702
4316760  nm0438478    Alexandra Rago  tt10737702
4316761  nm0790858        Eli Bevins  tt10737702
4316762  nm0066075       Aayush Nair  tt10737706
4316763  nm0438478        Andre Hill  tt10737706

[4316764 rows x 3 columns]

In [4]:
for i in range (len(actorsMovieDF)):
    if (actorsMovieDF['codeActor'].values[i] == 'nm0443482'):
        print(actorsMovieDF['codeActor'].values[i] + '  ' + actorsMovieDF['codeMovie'].values[i])

NameError: name 'actorsMovieDF' is not defined

In [10]:
scoreMovieList = []

for i in range (len(dfRating)):
    #for j in range (len(actorsMovieDF)):
        #print(actorsMovieDF['codeMovie'].values[j] + "  " + dfRating['tconst'].values[i])
        #if (actorsMovieDF['codeMovie'].values[j] == pourting['tconst'].values[i]):
            #print(actorsMovieDF['codeMovie'].values[j] + "  " + dfRating['tconst'].values[i])
    scoreMovieList.append([dfRating['tconst'].values[i], str(dfRating['averageRating'].values[i])])

#Ecriture dans la table prévue pour afficher les résultats
scoreMovieDF = pd.DataFrame(scoreMovieList, columns=['codeMovie', 'Score'])

scoreMovieDF.head(len(scoreMovieDF))

        codeMovie  Score
0       tt0000001    5.6
1       tt0000002    6.1
2       tt0000003    6.5
3       tt0000004    6.2
4       tt0000005    6.1
...           ...    ...
993148  tt9916576    5.9
993149  tt9916578    9.1
993150  tt9916720    5.1
993151  tt9916766    6.7
993152  tt9916778    6.9

[993153 rows x 2 columns]

In [19]:
fusion = pd.merge(actorsMovieDF,scoreMovieDF,on=['codeMovie'])
resultatCodes = fusion.groupby('codeActor')['Score'].apply(', '.join)
#test = resultat.groupby('codeActor')

#for i in range (len(resultat)):
    #if (resultat['codeActor'].values[i] == 'nm0000003'):
        #print (str(resultat['codeActor'].values[i]) + "    " + str(resultat['codeMovie'].values[i]) + "    " + str(resultat['Score'].values[i]))

resultatCodes.head()

SyntaxError: invalid syntax (<ipython-input-19-13e47e23a7a8>, line 2)