In [3]:
#Importation de panda

import pandas as pd

In [4]:
#Chargement des fichier contenant les tables

dfTitle = pd.read_csv("../data/title.basics.tsv", sep='\t', usecols=["tconst", "primaryTitle", "originalTitle"], encoding='utf-8')
dfName = pd.read_csv("../data/name.basics.tsv", sep='\t', usecols=["nconst", "primaryName"], encoding='utf-8')
dfPrincipals = pd.read_csv("../data/title.principals.tsv", sep='\t', usecols=["tconst", "nconst", "category"], encoding='utf-8')

In [24]:
#Chargement de la liste des acteurs

actorMovieList = []

#Récupération du code de l'acteur, de son nom et des films où il a joué
for i in range (len(dfName)):
    if (dfPrincipals['category'].values[i] == 'actor' or dfPrincipals['category'].values[i] == 'actress'):
        actorMovieList.append([dfPrincipals['nconst'].values[i], dfName['primaryName'].values[i], dfPrincipals['tconst'].values[i]])

#Ecriture dans la table prévue pour afficher les résultats
actorsMovieDF = pd.DataFrame(actorMovieList, columns=['codeActor', 'nameActor', 'tconst'])

   codeActor         nameActor     tconst
0  nm0443482       Bette Davis  tt0000005
1  nm0653042         Doris Day  tt0000005
2  nm0179163  Marlene Dietrich  tt0000007
3  nm0183947      Kirk Douglas  tt0000007
4  nm0653028       Clark Gable  tt0000008

In [36]:
moviesList = []


for i in range (len(dfTitle)):
    moviesList.append([dfTitle['tconst'].values[i], dfTitle['primaryTitle'].values[i]])

moviesListDF = pd.DataFrame(moviesList, columns=['tconst', 'primaryTitle'])

In [44]:
selectedMoviesList = []

fusionMovies = pd.merge(moviesListDF,actorsMovieDF,on=['tconst'])
resultat = fusionMovies.groupby(['primaryTitle'])

,tconst,primaryTitle,codeActor,nameActor
0,tt0000005,Blacksmith Scene,nm0443482,Bette Davis
1,tt0000005,Blacksmith Scene,nm0653042,Doris Day
2,tt0000007,Corbett and Courtney Before the Kinetograph,nm0179163,Marlene Dietrich
3,tt0000007,Corbett and Courtney Before the Kinetograph,nm0183947,Kirk Douglas
4,tt0000008,Edison Kinetoscopic Record of a Sneeze,nm0653028,Clark Gable
...,...,...,...,...
4316689,tt10737680,Creature of Love,nm10880802,Émilie Laforest
4316690,tt10737680,Creature of Love,nm10004200,Yves Desrosiers
4316691,tt10737680,Creature of Love,nm9871899,Tess
4316692,tt10737680,Creature of Love,nm8098634,Ryan Mac Lennan
4316693,tt10737680,Creature of Love,nm9419769,Dora Moutot

In [45]:
movieActorList = []

for i in range (len(fusionMovies)):
    movieActorList.append([fusionMovies['primaryTitle'].values[i], [fusionMovies['nameActor'].values[i]]])

In [46]:
#Ecriture dans le fichier prévu pour contenir la table des résultats
finalActorsMoviesDF = pd.DataFrame(movieActorList, columns=['Movie', 'Actor'])
finalActorsMoviesDF.to_csv('actorsMovies.csv')